.pending-contracts {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s2);
  overflow: auto;
}

.contract-request {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  width: 300px;
  padding: var(--s3);
  border-radius: var(--mainBR);
  background-color: #fff;
}

.contract-request__basic {
  padding-top: var(--s2);
  padding-bottom: var(--s2);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
