.pending-contracts {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s2);
  overflow: auto;
}

.contract-request {
  width: 300px;
}

.contract-request__basic {
  padding-top: var(--s2);
  padding-bottom: var(--s2);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
