.stats-section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s2);
  width: 100%;
}

.stats-card {
  display: flex;
  column-gap: var(--s2);
  min-width: 190px;
  flex: 1 1 0;
  padding: var(--s2);
  background-color: #fff;
}

.stats-card svg {
  width: 31px;
  height: 31px;
}

.stats-card__icon {
  padding: var(--s2);
}

.current-collections {
  display: flex;
  gap: var(--s2);
  flex-wrap: wrap;
  padding-top: var(--s3);
}
