.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
  z-index: 100;
}

.logo {
  width: 100px;
  height: 40px;
}

.pos-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.heading-2 {
  font-size: var(--fs5);
  font-weight: normal;
}

.h2 {
  font-size: var(--fs5);
}

.h3 {
  font-size: var(--fs4);
}

// transform to fsize-4
.h4 {
  font-size: var(--fs3);
}

.h5 {
  font-size: var(--fs2);
  font-weight: bold;
}

.fsize-3 {
  font-size: var(--fs3);
}

.bold {
  font-weight: bold;
}

.link {
  border: none;
  background-color: inherit;
  color: var(--blue);
}

.link--sec {
  color: var(--secondary);
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text--red {
  color: var(--red);
}

.text--secondary {
  font-size: var(--fs2);
  color: var(--secondary);
}

.d-flex {
  display: flex;
}

.flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: inline-flex;
}

@for $i from 1 through 6 {
  .fs-#{$i} {
    font-size: var(--fs#{$i});
  }
}

.p-0 {
  padding: 0;
}

@for $i from 1 through 5 {
  .flex-grow-#{$i} {
    flex-grow: $i;
  }

  .gap-#{$i} {
    gap: var(--s#{$i});
  }

  .p-#{$i} {
    padding: var(--s#{$i});
  }

  .pt-#{$i} {
    padding-top: var(--s#{$i});
  }

  .pr-#{$i} {
    padding-right: var(--s#{$i});
  }

  .pb-#{$i} {
    padding-bottom: var(--s#{$i});
  }

  .mt-#{$i} {
    margin-top: var(--s#{$i});
  }

  .mr-#{$i} {
    margin-right: var(--s#{$i});
  }

  .mb-#{$i} {
    margin-bottom: var(--s#{$i});
  }

  .ml-#{$i} {
    margin-left: var(--s#{$i});
  }
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.title--sm {
  color: var(--secondary);
  font-size: var(--fs2);
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}
