.btn {
  padding: var(--s2) var(--s3);
  border-radius: var(--mainBR);
  font-size: var(--fs3);
}

.btn--secondary {
  background-color: var(--grey-200);
  color: var(--secondary);
}

.btn--green {
  background-color: var(--green);
  color: #fff;
}

.btn--green-disabled {
  background-color: var(--green-disabled);
}

.btn--red {
  background-color: var(--red);
  color: #fff;
}

.btn--blue {
  background-color: var(--blue);
  color: #fff;
}

.btn--blue-disabled {
  background-color: var(--blue-disabled);
  color: #fff;
}

.btn-underlined {
  padding-bottom: var(--s2);
  border-bottom: 2px solid #000;
  font-size: var(--s3);
}

.btn-underlined--blue {
  padding-bottom: var(--s2);
  border-bottom: 2px solid var(--blue);
  color: var(--blue);
  font-size: var(--s3);
}

.btn-link {
  color: var(--blue);
  padding-bottom: var(--s2);
}

.btn-link--secondary {
  color: var(--secondary);
  padding-bottom: var(--s2);
}

.btn--sm {
  padding: var(--s1) var(--s2);
  font-size: var(--fs2);
}
