.card {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  flex-grow: 1;
  max-width: 300px;
  height: 185px;
  padding: var(--s3);
  border-radius: var(--mainBR);
  background-color: #fff;
  cursor: pointer;
  text-align: inherit;
}

.card--shadow {
  box-shadow: 1px 1px 10px #ededed;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--s1);
  padding-top: var(--s2);
  padding-bottom: var(--s2);
}

.card__title--sec {
  font-size: var(--fs2);
  color: var(--secondary);
}

.card__content {
  font-size: var(--fs3);
}

.card__data {
  font-size: var(--fs4);
  line-height: 20px;
}
