.checkbox {
  position: relative;
  display: block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.checkbox--sm {
  width: 15px;
  height: 15px;
}

.checkbox__input {
  position: absolute;
  top: -8%;
  left: -8%;
  display: block;
  width: 117%;
  height: 117%;
  opacity: 0;
  z-index: 1;
}

.checkbox__ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.checkbox__input:checked + .checkbox__ui,
.checkbox--sm .checkbox__ui {
  border-width: 2px;
}

.checkbox__ui::after {
  content: "";
  position: absolute;
  top: 8%;
  left: 30%;
  transform: rotate(45deg);
  width: 25%;
  height: 60%;
  opacity: 0;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;
}

.checkbox__input:hover + .checkbox__ui,
.checkbox__input:checked + .checkbox__ui {
  border-color: #aaa;
}

.checkbox__input:checked + .checkbox__ui {
  background-color: var(--blue);
}

.checkbox__input:checked + .checkbox__ui::after {
  opacity: 1;
}

.checkbox--semi-checked .checkbox__ui {
  border-color: #aaa;
}

.checkbox--semi-checked .checkbox__ui::after {
  position: static;
  opacity: 1;
  transform: none;
  width: 80%;
  height: 2px;
  border: none;
  background-color: #aaa;
}

.checkbox--outlined .checkbox__input:not(:checked) + .checkbox__ui::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  width: 2px;
  height: 100%;
  transform: rotate(-45deg);
  background-color: #aaa;
}

.checkbox--outlined .checkbox__input:not(:checked) + .checkbox__ui::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  width: 2px;
  height: 100%;
  opacity: 1;
  transform: rotate(45deg);
  border: none;
  background-color: #aaa;
}

.checkbox--outlined .checkbox__input:checked + .checkbox__ui {
  background-color: inherit;
  border-color: var(--blue);
}

.checkbox--outlined .checkbox__input:checked + .checkbox__ui::after {
  border-color: var(--blue);
}
