.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent var(--blue);
  border-radius: 50%;
  animation: spin 1.5s ease-in-out forwards infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
