.separator--secondary {
  position: relative;
  width: 100%;
  margin-top: var(--s2);
  margin-bottom: var(--s2);
  text-align: center;
}

.separator--secondary::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1px;
  background-color: var(--grey-400);
}

.separator--secondary::after {
  content: attr(data-title);
  padding: 2px 4px;
  border: 1px solid var(--grey-400);
  border-radius: var(--mainBR);
  margin: auto;
  background-color: #fff;
  color: var(--grey-400);
  font-size: var(--fs1);
}
