.sidebar {
  flex-shrink: 0;
  width: 300px;
  max-width: 80%;
  min-height: 100%;
  padding: var(--s3);
  background-color: #343a40;
  color: #fff;
}

.sidebar__close {
  display: none;
  color: #fff;
}

.sidebar__close-icon {
  margin-bottom: var(--s2);
}

.sidebar__links-holder {
  position: sticky;
  top: 83px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--s2);
}

.sidebar__link {
  width: 100%;
  padding: var(--s1) var(--s2);
  border-radius: var(--mainBR);
  font-size: var(--fs3);
}

.sidebar__link.active {
  background-color: #484e53;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 6;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
  }

  .sidebar__close {
    display: block;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar__links-holder {
    position: static;
  }
}
