.table-widget__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--s3);
}

.table-holder {
  position: relative;
  height: calc(100vh - 100px);
  overflow: auto;
}

.table-holder::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-holder::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.table-holder::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.table-holder::-webkit-scrollbar-track {
  background-color: #fff;
}

.table {
  width: 100%;
  min-width: 890px;
  border-collapse: collapse;
  font-size: var(--fs2);
  white-space: nowrap;
}

.table--layout-fixed {
  table-layout: fixed;
}

.table__row {
  border-bottom: 1px solid var(--lineColor);
}

// handle dropdown overflowing table
.table__row:last-child .dropdown {
  top: -39px;
  left: calc(100% + 12px);
}

.table__row:last-child .dropdown::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: -12px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--light-blue) transparent transparent;
}

.table__heading {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  padding: var(--s2) var(--s3);
  background-color: #f4f4f4;
  font-weight: normal;
  text-align: inherit;
}

.table__cell {
  height: 48px;
  padding: var(--s2) var(--s3);
}

// .table__cell:not(:first-child) {
//   width: 100%;
// }

.table__cell--table {
  padding-bottom: var(--s2);
}

.table__cell--checkbox {
  position: relative;
  padding-left: 0;
}

.table__cell--clickable {
  color: var(--blue);
  font-weight: 600;
  cursor: pointer;
}

.table__cell--input {
  padding: 0 var(--s3);
}

.table__checkbox {
  width: 45px;
}

.table__btn {
  background-color: var(--grey-100);
}

.table__btn--active {
  background-color: var(--light-blue);
}

.table__select {
  min-width: 100px;
  max-height: 33px;
  padding: var(--s1) var(--s2);
}

.table__input {
  padding: var(--s2);
}

.table__select,
.table__input {
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}

.table__input:disabled {
  border-radius: var(--mainBR);
  border-bottom: none;
  background-color: #eee;
}

.table__input:focus {
  box-shadow: none;
}

.table__input:focus-visible {
  outline: none;
}

.table__serial {
  position: absolute;
  top: -16px;
  right: 122%;
  z-index: 1;
  padding: var(--s3);
  border-radius: var(--mainBR);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.table__serial::after {
  content: "";
  position: absolute;
  top: 39px;
  right: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
}

.table__row:nth-child(n + 18) .table__serial {
  top: auto;
  bottom: 8px;
  right: 122%;
}

.table__row:nth-child(n + 18) .table__serial::after {
  top: auto;
  bottom: 14px;
}

.serial__close {
  color: #999;
  cursor: pointer;
}

.serial__close:hover {
  color: #fff;
}

.serial__input {
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0;
  background-color: transparent;
}

.serial__btn {
  color: #ddd;
}

.serial__input:focus {
  box-shadow: none;
  border-bottom: 1px solid #eee;
}

.nested-table-holder {
  position: relative;
  display: flex;
  gap: 16px;
  padding-right: 48px;
  background-color: #fff;
}

.nested-table-holder::before {
  content: "";
  position: absolute;
  top: -14px;
  right: 26px;
  width: 1px;
  height: calc(100% + 4px);
  animation: animateHeight 0.9s forwards;
  background-color: #ccc;
}

@keyframes animateHeight {
  from {
    height: 0;
  }
  to {
    height: calc(100% + 4px);
  }
}

.nested-table {
  width: 100%;
  font-size: var(--fs1);
}

.nested-table__row {
  position: relative;
  border: none;
  animation: fadeIn 0.5s 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nested-table__row::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 0;
  height: 1px;
  border-radius: var(--mainBR);
  background-color: #ccc;
  animation: animateWidth 1s 0.3s forwards;
}

@keyframes animateWidth {
  from {
    width: 0;
  }
  to {
    width: 18px;
  }
}

.nested-table__heading,
.nested-table__cell {
  padding-left: var(--s3);
  padding-right: var(--s3);
}
