.table-widget__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--s3);
}

.table-holder {
  position: relative;
  overflow: auto;
}

.table-holder::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.table-holder::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.table-holder::-webkit-scrollbar-track {
  background-color: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--fs2);
  white-space: nowrap;
}

.table td {
  padding-left: var(--s3);
  padding-right: var(--s3);
}

.table__thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: var(--s1) var(--s3);
  background-color: #f4f4f4;
  font-weight: normal;
  text-align: inherit;
}

.table__thead .table__cell--checkbox,
.table__tbody .table__cell--checkbox {
  position: relative;
  padding-left: 0;
}

.table__tbody tr {
  border-bottom: 1px solid var(--lineColor);
}

// handle dropdown overflowing table
.table__tbody tr:last-child .dropdown {
  top: -39px;
  left: calc(100% + 12px);
}

.table__tbody tr:last-child .dropdown::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: -12px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--light-blue) transparent transparent;
}

.table__tbody td {
  padding-top: var(--s3);
  padding-bottom: var(--s3);
}

.table__btn {
  background-color: var(--grey-100);
}

.table__btn--active {
  background-color: var(--light-blue);
}

.table__row--form td {
  padding: var(--s2) var(--s3);
}

.table__input {
  max-width: 120px;
  padding: 0;
  border: none;
  font-size: var(--fs2);
}

.table__input:focus {
  box-shadow: none;
}

.table__input:focus-visible {
  outline: none;
}

.table__serial {
  position: absolute;
  top: -16px;
  right: 122%;
  z-index: 1;
  padding: var(--s3);
  border-radius: var(--mainBR);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.table__serial::after {
  content: "";
  position: absolute;
  top: 47px;
  right: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
}

.table__tbody tr:last-child .table__serial {
  top: auto;
  bottom: 16px;
  right: 122%;
}

.table__tbody tr:last-child .table__serial::after {
  top: auto;
  bottom: 16px;
}

.serial__close {
  color: #999;
  cursor: pointer;
}

.serial__close:hover {
  color: #fff;
}

.serial__input {
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0;
  background-color: transparent;
}

.serial__btn {
  color: #ddd;
}

.serial__input:focus {
  box-shadow: none;
  border-bottom: 1px solid #eee;
}

.nested-table-holder {
  padding: 0 !important;
}

.nested-table td {
  padding-top: var(--s2);
  padding-bottom: var(--s2);
}

.nested-table {
  background-color: #f5f5f5;
  animation: fadeIn 0.5s forwards;
}

.nested-table thead {
  border-top: 1px solid #888;
  background-color: #ccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
