thead .thead__space-in-print,
.print__page-title,
.print__page-footer,
.print__counter {
  display: none;
}

@media print {
  body {
    background-color: #fff;
  }

  *:not(.print) {
    visibility: hidden;
  }

  .print {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
  }

  .print * {
    visibility: visible;
    animation: none !important;
  }

  .print__page-title {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }

  .print__counter {
    position: absolute;
    left: 1rem;
    display: block;
  }

  .print__page-footer {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 213;
  }

  table {
    max-width: 100% !important;
    min-width: 0 !important;
  }

  table tr,
  table td {
    page-break-inside: avoid;
    page-break-after: auto;
    overflow: visible !important;
    text-overflow: clip;
  }

  table thead {
    display: table-header-group;
  }

  table tfoot {
    display: table-footer-group;
  }

  table:not(.print-all-columns) .table__heading:last-child,
  table:not(.print-all-columns) .table__cell:last-child,
  table:not(.print-all-columns) col:last-child,
  .overlay,
  .controls {
    display: none;
  }

  .main-content,
  .widget {
    position: static;
    padding: 0;
  }

  .table-holder {
    height: auto;
  }

  .table__thead:not(.nested-table__thead) .thead__space-in-print {
    display: table-row;
    height: 62px;
  }

  .table__heading,
  .table__cell {
    padding-left: 10px;
    padding-right: 10px;
  }

  .table__heading {
    height: 42px;
  }

  .table__row {
    height: 49.5px;
  }

  .table__cell--clickable {
    color: inherit;
    font-weight: normal;
    cursor: inherit;
  }

  .table__checkbox {
    width: 50px;
  }

  .nested-table__heading,
  .nested-table__cell {
    height: 22px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .checkbox {
    width: 30px;
    height: 30px;
  }

  .checkbox--semi-checked:not(.checkbox--outlined) .checkbox__ui::after {
    opacity: 0;
  }

  .checkbox__input:checked + .checkbox__ui {
    background-color: transparent;
  }

  .checkbox:not(.checkbox--outlined)
    .checkbox__input:checked
    + .checkbox__ui::after {
    opacity: 0;
  }

  .checkbox--outlined .checkbox__ui::after {
    top: calc(50% - 12px);
    left: calc(50% - 5px);
    width: 8px;
    height: 16px;
  }

  .dont-break-inside {
    page-break-inside: avoid;
  }

  .nested-table-holder {
    padding-right: 50px;
  }

  .nested-table-holder::before {
    top: -12px;
    right: 25px;
    height: calc(100% + 8px);
    animation: none;
  }

  .nested-table__row::before {
    display: none;
  }

  .table-widget--center {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}

@page {
  size: 21cm 29.7cm;
  margin: 10mm;
}
