.thead__space-in-print,
.print__page-title,
.print__counter {
  display: none;
}

@media print {
  body {
    background-color: #fff;
  }

  *:not(.print) {
    visibility: hidden;
  }

  .print * {
    visibility: visible;
  }

  .thead__space-in-print {
    display: table-row;
    height: 62px;
  }

  thead th,
  thead td {
    height: 38px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .print {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
  }

  .print__page-title {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }

  .print__counter {
    position: absolute;
    left: 1rem;
    display: block;
  }

  .main-content,
  .widget {
    position: static;
    padding: 0;
  }

  .table-holder {
    height: auto;
  }

  .print__footer {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .checkbox {
    width: 30px;
    height: 30px;
  }

  .checkbox__input:checked + .checkbox__ui {
    background-color: transparent;
  }

  .checkbox__input:checked + .checkbox__ui::after {
    opacity: 0;
  }

  table tbody td {
    padding: 0 10px !important;
    height: 53px !important;
    page-break-inside: auto !important;
  }

  table tr,
  table td {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  table thead {
    display: table-header-group;
  }

  table tfoot {
    display: table-footer-group;
  }

  .table__thead th:last-child,
  .table td:last-child,
  .controls {
    display: none;
  }

  .ongoing-collection-table {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}

@page {
  size: 21cm 29.7cm;
  margin: 10mm;
}
